<?xml version="1.0" encoding="UTF-8"?>
<solver>
    <!--<environmentMode>FULL_ASSERT</environmentMode>--><!-- To slowly prove there are no bugs in this code -->
    <!--<moveThreadCount>AUTO</moveThreadCount>--><!-- To solve faster by saturating multiple CPU cores -->
    <scanAnnotatedClasses>
        <packageInclude>scheduler</packageInclude>
    </scanAnnotatedClasses>

    <!--environmentMode>NON_INTRUSIVE_FULL_ASSERT</environmentMode-->

    <scoreDirectorFactory>
        <easyScoreCalculatorClass>scheduler.solver.ScheduleScoreCalculator</easyScoreCalculatorClass>
        <initializingScoreTrend>ONLY_DOWN</initializingScoreTrend>
    </scoreDirectorFactory>

    <termination>
        <!--minutesSpentLimit>2</minutesSpentLimit-->
        <!--secondsSpentLimit>10</secondsSpentLimit-->
        <millisecondsSpentLimit>5500</millisecondsSpentLimit>
    </termination>
    <constructionHeuristic>
        <constructionHeuristicType>FIRST_FIT</constructionHeuristicType>
    </constructionHeuristic>
    <localSearch>
        <unionMoveSelector>
            <changeMoveSelector>
                <cacheType>STEP</cacheType>
                <selectionOrder>SHUFFLED</selectionOrder>
            </changeMoveSelector>
            <!--<swapMoveSelector>-->
            <!--<cacheType>PHASE</cacheType>-->
            <!--<selectionOrder>SHUFFLED</selectionOrder>-->
            <!--</swapMoveSelector>-->
            <tailChainSwapMoveSelector/>
            <subChainChangeMoveSelector>
                <subChainSelector>
                    <maximumSubChainSize>50</maximumSubChainSize>
                </subChainSelector>
                <selectReversingMoveToo>true</selectReversingMoveToo>
            </subChainChangeMoveSelector>
            <!--<subChainSwapMoveSelector>-->
            <!--<selectReversingMoveToo>false</selectReversingMoveToo>-->
            <!--</subChainSwapMoveSelector>-->
            <!-- TODO use nearby selection to scale out -->
        </unionMoveSelector>
        <acceptor>
            <lateAcceptanceSize>400</lateAcceptanceSize>
        </acceptor>
        <forager>
            <acceptedCountLimit>1</acceptedCountLimit>
        </forager>
    </localSearch>
</solver>